.bug-report .window-content {
  position: relative;
}

.bug-report .form-group select {
  width: 100%;
}

.bug-report .versionCheck {
  display: flex;
  align-self: center;
  flex: 0 auto;
  margin-left: auto;
}

.bug-report .versionCheck :not(:first-child) {
  margin-left: 1em;
}

.bug-report .tag {
  flex: none;
  height: auto;
  align-self: center;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0 0.2em;
  font-size: 0.8em;
  line-height: normal;
  text-decoration: none;
  background: #333;
  color: #f0f0e0;
}

.bug-report .tag.success {  
  background: green;
}

.bug-report .tag.warning {
  background: orangered;
}

.bug-report .tag.error {
  background: red;
}

.bug-report .hidden {
  display: none;
}

.bug-report .input-row > :not(:first-child) {
  margin-left: 1em;
}

.bug-report .found-issues {
  background: rgba(0,0,0,0.75) url(/ui/denim075.png) repeat;
  color: white;
  border-radius: 3px;
  padding: 1em;
}

.bug-report .found-issues .tag {
  align-self: flex-start;
}

.bug-report .found-issue-list {
  display: flex;
  overflow: overlay;
}

.bug-report .found-issue-list > :not(:first-child) {
  margin-left: 0.5em;
}

.bug-report .found-issue-list .issue-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 0.5em;
  flex: 1 0 33%;
}

.bug-report form > :not(:first-child) {
  margin-top: 1em;
  margin-bottom: 0;
}

.bug-report .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  margin: 0;
}

.bug-report .overlay > * {
  flex: 0 0 auto;
}

/* Created by Luke Haas https://projects.lukehaas.me/css-loaders/ */
.bug-report .loader,
.bug-report .loader:before,
.bug-report .loader:after {
  background: #ffffff;
  animation: bug-reporter-load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.bug-report .loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.bug-report .loader:before,
.bug-report .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.bug-report .loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.bug-report .loader:after {
  left: 1.5em;
}
@keyframes bug-reporter-load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}