<div class="bug-report">
  <div class="form-group">
    <label>Module</label>
    <select class="domain">
      <option value=""></option>
      {{#select modules}} {{#each modules as |module index|}}
      <option value="{{index}}">{{module.title}}</option>
      {{/each}} {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label>Label</label>
    <select class="issue-label">
      <option value=""></option>
      <option value="bug">Bug</option>
      <option value="enhancement">Enhancement</option>
      <option value="translation">Translation</option>
      <option value="mod-incompat">Module Incompatibility</option>
    </select>
  </div>

  <div class="form-group">
    <label>Your Name</label>
    <input
      type="text"
      placeholder="Discord, email, any way to contact you. Not required."
      value="{{name}}"
      class="issuer"
    />
  </div>

  <div class="form-group">
    <label>Title</label>
    <input type="text" class="bug-title" />
  </div>

  <div class="form-group">
    <ol id="issues"></ol>
  </div>

  <div class="form-group">
    <label class="wide">Description</label>
  </div>
  <textarea
    placeholder="What happened, how to reproduce, etc."
    class="bug-description"
  ></textarea>

  <p class="notification warning">
    Before submitting a bug report
    <b>please try on the newest version! You are using an old version.</b>
  </p>
  <p class="notification info" style="display: none;">
    <b>Using the most current version!</b>
  </p>
  <button type="submit" class="bug-submit">Submit</button>
</div>
