<div class="bug-report">
  <div class="form-group">
    <label>Module</label>
    <select class="domain">
      <option value=""></option>
      {{#select modules}} {{#each modules as |module index|}}
      <option value="{{index}}">{{module.title}}</option>
      {{/each}} {{/select}}
    </select>
  </div>

  <div class="flexrow">
    <h2 class="flexrow">
      <span>Selected Module Title</span>

      <small class="versionCheck">
        <div class="tag success hidden">{{localize 'BUG.versionCheck.upToDate'}}</div>
        <div class="tag warning hidden">{{localize 'BUG.versionCheck.updateRequired'}}</div>
      </small>
    </h2>
  </div>

  <div class="form-group">
    <label>{{localize 'BUG.form.bugTitle.label'}}</label>
    <input type="text" class="bug-title" />
  </div>

  <div class="form-group">
    <ol id="issues"></ol>
  </div>

  <div class="flexrow">
    <div class="form-group">
      <label>{{localize 'BUG.form.issuer.label'}}</label>
      <input
        type="text"
        placeholder="{{localize 'BUG.form.issuer.placeholder'}}"
        value="{{name}}"
        class="issuer"
      />
    </div>

    <div class="form-group">
      <label>{{localize 'BUG.form.issueLabel.label'}}</label>
      <select class="issue-label">
        <option value=""></option>
        <option value="bug">{{localize 'BUG.form.issueLabel.options.bug'}}</option>
        <option value="enhancement">{{localize 'BUG.form.issueLabel.options.enhancement'}}</option>
        <option value="translation">{{localize 'BUG.form.issueLabel.options.translation'}}</option>
        <option value="mod-incompat">{{localize 'BUG.form.issueLabel.options.incompatibility'}}</option>
      </select>
    </div>
  </div>




  <div class="form-group">
    <label class="wide">{{localize 'BUG.form.bugDescription.label'}}</label>
  </div>

  <textarea
    placeholder="{{localize 'BUG.form.bugDescription.placeholder'}}"
    class="bug-description"
    maxlength="1024"
  ></textarea>

  <button type="submit" class="bug-submit">Submit</button>
</div>
